*{
  /* color: #ffff; */
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    
    min-height: 100vh;
    margin: 0;
    padding: 0;  
    display: flex;
    flex-direction: column;
  }

  h1 {
    text-align: center;
    font-size: 30px;
    color: #C7ff03;
    font-style: italic;
  }

  h3{
    text-align: center;
    color:#C7ff03;
    font-style: italic;
  }

  h2{
    text-align: center;
    font-style: italic;
    margin: 1rem;
  }

  .header-container{
    background-color: #1B4767;
    color: #C7ff03;
    padding-bottom: 10px;    
  }
/* div.par ?*/
  div.par{
    text-indent: 30px;
  }

  .par{
    padding-top: 10px;
  }

  .middle-container {
    flex-grow: 1;
    background-color: #ffff;
    padding-left: 1rem;
    padding-right: 1rem;
    
   }

   /* .q-1{
    width: 8%;    
    float: left;
    margin-right: 30px;
   }

   .quote-entry-1{
    padding-bottom: 2rem;
    margin-bottom: 2rem;
   }  

   .q-2{
    width: 10%;    
    float: right;    
    margin-left: 30px;
    margin-bottom: 2rem;
    
   }

   .quote-entry-2{
    padding-bottom: 2rem;
    margin-bottom: 2rem;
   } */

   .q-3{
    width: 12%;    
    float: left;
    margin-right: 30px;
    margin-bottom: 2rem;
   }

   .quote-entry-3{
    padding-bottom: 2rem;
    margin-bottom: 2rem;
   } 

   .q-4{
    width: 10%;    
    float: right;
    margin-left: 30px;
   }

   .quote-entry-4{
    padding-top: 1rem;
    /* padding-bottom: 2rem; */
    margin-bottom:2rem ;
   }
   
   
/* *********************************** */

/* ********** ecology *****************/

.img-e1{
  width: 15%;    
  float: left;
  margin-right: 30px;
  margin-left: 1rem;  
  padding-bottom: 2rem;
  margin-bottom: 2rem;
 }

.p-e1{
  padding-bottom: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
}
   

.post{
    padding-left: 10px;
    padding-top: 1rem;
}

   .p-1{
    width: 15%;    
    float: left;
    margin-right: 30px;
    margin-left: 1rem;
    padding-bottom: 1rem;
   }

   .post-entry-1{
    padding-bottom: 2rem;
   }

   .p-2{
    width: 15%;    
    float: right;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
   }

   .post-para-2{
    padding-left: 1rem;
   }

   .post-entry-2{
    padding-bottom: 2rem;
   }

   .p-3{
    width: 15%;    
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
   }

   .post-para-3{
    padding-left: 1rem;
   }

   .post-entry-3{
    padding-bottom: 2rem;
   }

   .p-4{
    width: 15%;    
    float: right;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
   }

   .post-para-4{
    padding-left: 1rem;
   }

   .post-entry-4{
    padding-top: 2rem;
    padding-bottom: 2rem;
   }

   .p-5{
    width: 15%;    
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
   }

   .post-para-5{
    padding-left: 1rem;
   }

   .post-entry-5{
    padding-top: 2rem;
    padding-bottom: 2rem;
   }

   .p-6{
    width: 50%;    
    float: right;      
    margin-left: 3rem;
    margin-right: 3rem;
    padding-bottom: 1rem;
   }

   .post-para-6{
    text-indent: 2rem;
    padding-left: 2rem;
    padding-top: 3rem;
    text-align: justify;
   }

   .post-entry-6{
    padding-top: 3rem;
    padding-bottom: 3rem;
   }

   .p-7{
    width: 15%;    
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
   }

   .post-para-7{
    text-indent: 2rem;
    /* padding-top: 0.5rem; */
    padding-bottom: 1rem;
    padding-left: 2rem; 
    text-align: justify;   
   }

   .post-entry-7{
    padding-top: 2px;
    padding-right: 1rem;
    padding-bottom: 2rem;
   }

   .p-8{
    width: 15%;    
    float: right;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
   }

   .post-para-8{
    padding-left: 1rem;
    text-indent: 2rem;
   }

   .post-entry-8{
    padding-top: 2rem;
    padding-bottom: 2rem;
   }

   .p-9{
    width: 15%; 
    /* height: 30%;    */
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
   }

   .post-para-9{
    text-indent: 2rem;
    margin: 1rem; 
    /* padding-top: 0.5rem; */
    padding-bottom: 1rem;
    padding-left: 2rem;    
   }

   .post-entry-9{
    padding-top: 2px;
    padding-right: 1rem;
    padding-bottom: 2rem;
   }

   .p-10{
    width: 50%;    
    float: right;      
    margin-left: 3rem;
    margin-right: 3rem;
    padding-bottom: 1rem;
   }

   .post-para-10{
    text-indent: 2rem;
    padding-left: 2rem;
    padding-top: 3rem;
    text-align: justify;
   }

   .post-entry-10{
    padding-top: 3rem;
    padding-bottom: 3rem;
   }


  /* ----------------------project--------- */
  .project-1{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .iframe-1{       
    float: left;
    margin-right: 30px;
    margin-left: 1rem;
    padding-bottom: 2rem;
   }

   .project-para-1{
    padding-left: 1rem;
    padding-bottom: 2rem;
    text-indent: 2rem;
    text-align: justify;
   }

   .project-2{
    margin: 1rem;
  }

   .iframe-2{          
    float: right;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 2rem;
   }

   .project-para-2{
    padding-left: 1rem;
    text-indent: 2rem;
    text-align: justify;
   }

   /* design */

   .design-1{
    margin: 1rem;
  }
  .d-1{
    width: 15%; 
    height: 30%;   
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
   }
   .design-para-1{
    padding-left: 2rem;
    padding-bottom: 2rem;
    text-indent: 2rem;
    text-align: justify;
   }

   footer {
    text-align: center;
    font-size: small;
    margin: 0;
    background-color: #1A4F7E;
    color: white;
  }